body{
    background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614276264_33-p-chernii-fon-visokoe-kachestvo-37.jpg);
}
.glava{
    color: transparent; 
    -webkit-background-clip: text; 
    background-clip: text; 
    background-image: linear-gradient(to right, rgb(113, 61, 218), pink); 
    font-weight: bold; 
    font-size: 50px;
    margin-left: 760px;
    margin-top: 100px;
}
.border{
    border: 1px solid rgb(139, 139, 139);
    border-radius: 50px;
    height: 35px;
    text-align: center;
    color: white;
    margin-left: 20px;
    padding-top: 13px;
    margin-top: 50px;
}
.purple{
    background-color: purple;
    width: 100px;
    border: 1px solid purple;
    margin-left: 400px;
}
.container{
    display: flex;

}
.width{
    width: 180px;
}
.width1{
    width: 200px;
}
.width2{
    width: 160px;
}
.corobka{
    background-color: black;
    border: 2px solid rgb(99, 99, 99);
    border-radius: 20px;
    color: white;
    width: 245px;
    height: 420px;
    margin-left: 30px;
}
.display{
    display: flex;
    margin-top: 50px;
}
.margin-left{
    margin-left: 400px;
}
img{    
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 22px;
    margin-bottom: 1px;
}
.big-font-size{
    font-size: 20px;
    font-weight: bold;
    margin: 22px;
    margin-bottom: 5px;
}
.small-font-size{
    font-size: 13px;
    color: rgb(154, 154, 154);
    margin: 22px;
    margin-top: 10px;
}
.box{
    border: 1px solid black;
    width: 100px;
    margin-left: 22px;
}
.container-end{
    border: 1px solid black;
    width: 100px;
    text-align: center;
}
.conc{
    display: flex;
    justify-content: space-between;
}
.kol{
    font-weight: bold;
    margin-bottom: 10px;
}
.cena{
    font-weight: bold;
    margin-bottom: 10px;
}
.procent{
    font-size: small;
    color: greenyellow;
}
.color{
    color: red;
}